<!doctype html>
<html lang="fr">

<head>
    <meta name="viewport" content="width=device-width" />
    <script src="./js/jquery.min.js"></script>
    <link rel="stylesheet" href="./css/bootstrap.min.css" crossorigin="anonymous">



    <script src="./js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="./font-awesome/css/font-awesome.min.css">

    <style>
        #title {
            font-size: 25px;
            text-align: center;
            margin-bottom: 10%;
        }

        a {
            font-weight: bold;
            text-decoration: none;
        }

        a:hover {
            color: #337ab7;
            text-decoration: none;
        }



        #border {

            border-collapse: separate;
            border-width: 2px;
            border-radius: 10px;
            border-spacing: 20px 20px;
        }

        #cont {
            margin-bottom: 2%;
            text-align: center;
        }

        .action {
            cursor: pointer;
            font-weight: normal;
            color: #333;
        }

        .action:hover {
            color: #777;
        }

        #button {
            font-weight: 400;
            font-size: 15px;
            color: #337ab7;
            padding-bottom: 8%;
        }

        #button:hover {
            color: #777;
            cursor: pointer;

        }

        .hr {
            text-align: center;
            border-top: 1.5px solid #777;
        }

    </style>

</head>

<body>
    <div class=container>
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <h1 id="title">Liste des Appareils ayant un accès <a>SSH</a></h1>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>

    {% for sshkey in sshkeys %}
    <div id="cont" class=container>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">

                <div class="row">
                    <div class="col-md-4">
                        <div style="margin-bottom: 4%;"><a>ID</a></div>
                        <div style="margin-bottom: 4%;">{{sshkey.id}}</div>
                    </div>

                    <div class="col-md-4">
                        <div style="margin-bottom: 4%;"><a>Appareil</a></div>
                        <div style="margin-bottom: 4%;">{{sshkey.device}}</div>
                    </div>
                    <div class="col-md-4">
                        <div style="margin-bottom: 4%;"><a>Actions</a></div>
                        <a style="margin-bottom: 4%;" class="action" href="{{ path('sshkey_edit', { 'id': sshkey.id }) }}">Modifier |</a>
                        <a style="margin-bottom: 4%;" class="action" href="{{ path('sshkey_show', { 'id': sshkey.id }) }}"> Afficher</a>
                    </div>

                </div>
                <hr>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>


    {% endfor %}

    <div style="text-align: center;" class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a href="{{ path('sshkey_new') }}">
                    <div id="button">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        <a href="{{ path('sshkey_new') }}">  Ajouter un Appareil</a>
                    </div>
                </a>
            </div>
            <div class="col-md-4"></div>

        </div>
    </div>

    <div style="text-align: center;" class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <img src="./images/Logoss.jpg">
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

    <div id="retour" class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div style="color:firebrick;" id="buttonretour">
                    <i style="font-weight: 400;" class="fa fa-arrow-left" aria-hidden="true"></i>
                    <a style="color:firebrick;" id="button" href="{{ path('homepage') }}">Retour</a>
                </div>
            </div>
            <div class="col-md-10"></div>
        </div>
    </div>

</body>

</html>
